.navigation__link_nonactive {
  color: #b6bcbf;
}
.navigation__link_nonactive:visited {
  color: #b6bcbf;
}
.navigation_color_black .navigation__link_nonactive:hover {
    color: #000;
}
.navigation_color_white .navigation__link_nonactive:hover {
  color: #fff;
}
