.commits__card {
  width: 400px;
  height: 288px;
  background: #fff;
  border-radius: 16px;
}
@media (min-width: 768px) and (max-width: 1439px) {
  .commits__card {
    width: 336px;
    height: 242px;
  }
  .commits__card:last-of-type{
    display: none;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .commits__card{
    display: none;
  }
  .commits__card:first-of-type {
    display: block;
    width: 288px;
    height: 264px;
  }
}
