.error_invalid {
  display: block;
  transition: 0.3s;
  opacity: 1;
  font-family: "Roboto",Arial,sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #ff0000;
  margin-top: 5px;
  position: absolute;
  width: 100%;
  height: auto;
}
.error_invalid:first-of-type {
  margin-top: 20px;
}
