.footer__point {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 1.1em;
  line-height: 24px;
  margin: 0 2.5em 0 0; 
}

.footer__point a {
  color: #1a1b22;
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
  line-height: 24px;
}
