.commits__who-title {
  font-family: "Roboto Slab", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 30px;
  color: #1a1b22;
  grid-area: title;
  margin: 0;
}
@media (min-width: 320px) and (max-width: 1439px) {
  .commits__who-title {
    font-size: 20px;
    line-height: 30px;
  }
}
