@import url(__author/card__author.css);
@import url(__date/card__date.css);
@import url(__text/card__text.css);
@import url(__title/card__title.css);
@import url(__img/card__img.css);

.card {
  background: #fff;
  height: 576px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  border-radius: 16px;
  position: relative;
}
.card:hover{
  cursor: pointer;
}
