.content__nothing-title {
  font-family: "Roboto Slab", "Arial Black", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 30px;
  color: #1a1b22;
  margin: 24px 0 16px 0;
}
