.about__paragraph {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 50px 0 0 54px;
  padding: 0;
  width: 100%;
}
@media (min-width: 768px) and (max-width: 1439px) {
  .about__paragraph {
    margin: 0 0 0 2.3em;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .about__paragraph {
    margin: 0;
    width: 100%;
  }
}