.commtits__block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  width: 100%;
}
@media (min-width: 768px) and (max-width: 1439px) {
  .commtits__block {
    justify-content: space-between;
    align-items: baseline;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .commtits__block {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 200px;
  }
}