.diagram__title-table{
    margin: 0;
    font-family: "Roboto", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    color: #b6bcbf;
}