<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="author" content="Болелова Юлия" />
    <meta
      name="description"
      content="Сервис поиска новостей по заданной тематике за последнюю неделю с просмотром аналитики."
    />
    <title>NewsAnalyzer: Аналитика</title>
    <link
      rel="shortcut icon"
      href="<%= require('./images/favicon.png')%>"
      type="image/png"
    />
    <link
      rel="stylesheet"
      href="<%=htmlWebpackPlugin.files.chunks.analytics.css %>"
    />
  </head>

  <body>
    <div class="page">
      <header class="header">
        <div class="wrapper wrapper_line_black">
          <nav class="navigation navigation_color_black">
            <a class="navigation__title" href="./index.html">NewsAnalyzer</a>
            <ul class="navigation__menu">
              <li class="navigation__text">
                <a
                  href="./index.html"
                  class="navigation__link navigation__link_nonactive"
                  >Главная</a
                >
              </li>
              <li class="navigation__text">
                <a
                  href="./about.html"
                  class="navigation__link navigation__link_nonactive"
                  >О проекте</a
                >
              </li>
            </ul>
          </nav>
        </div>
      </header> 
      <main class="content">
        <section class="analytics">
          <ul class="breadcrumbs">
            <li>
              <a class="analytics__text" href="./index.html">
                <span class="analytics__text_color_black">Главная</span> /
                Аналитика
              </a>
            </li>
          </ul>
          <h3 class="analytics__title">
            Вы спросили: «<span name="teg__name">Путешествия</span>»
          </h3>
          <p class="analytics__text-news">
            Новостей за неделю: <span name="teg__week">34 324</span>
          </p>
          <p class="analytics__text-news">
            Упоминаний в заголовках: <span name="teg__title">235</span>
          </p>
        </section>
        <section class="diagram">
          <h3 class="diagram__title">Аналитика по дням</h3>
          <div class="diagram__title-block">
            <h5 class="diagram__title-table">дата (август)</h5>
            <h5 class="diagram__title-table">кол-во упоминаний</h5>
          </div>
          <div class="diagram__table-size">
            <span>0</span>
            <span>25</span>
            <span>50</span>
            <span>75</span>
            <span>100</span>
          </div>
          <div class="diagram__table">
            <div class="diagram__table-col">
              <p class="diagram__table-cell">13, пн</p>
              <p class="diagram__table-cell">14, вт</p>
              <p class="diagram__table-cell">15, ср</p>
              <p class="diagram__table-cell">16, чт</p>
              <p class="diagram__table-cell">17, пт</p>
              <p class="diagram__table-cell">18, сб</p>
              <p class="diagram__table-cell">19, вс</p>
            </div>
            <div class="diagram__table-col">
              <div class="diagram__table-block">
                <p class="diagram__table-cell">10</p>
              </div>
              <div class="diagram__table-block">
                <p class="diagram__table-cell">20</p>
              </div>
              <div class="diagram__table-block">
                <p class="diagram__table-cell">30</p>
              </div>
              <div class="diagram__table-block">
                <p class="diagram__table-cell">50</p>
              </div>
              <div class="diagram__table-block">
                <p class="diagram__table-cell">70</p>
              </div>
              <div class="diagram__table-block">
                <p class="diagram__table-cell">90</p>
              </div>
              <div class="diagram__table-block">
                <p class="diagram__table-cell">100</p>
              </div>
            </div>
          </div>
          <div class="diagram__table-size">
            <span>0</span>
            <span>25</span>
            <span>50</span>
            <span>75</span>
            <span>100</span>
          </div>
        </section>
      </main>
      <footer>
        <div class="wrapper">
          <div class="footer">
            <p class="footer__copy">&#169; 2019 Supersite</p>
            <ul class="footer__nav">
              <li class="footer__point"><a href="./index.html">Главная</a></li>
              <li class="footer__point">
                <a href="./about.html">О проекте</a>
              </li>
              <li class="footer__point">
                <a href="https://praktikum.yandex.ru/">Яндекс.Практикум</a>
              </li>
            </ul>
            <ul class="footer__icons">
              <li>
              <a
                target="_blank"
                href="https://github.com/JuliaBolelova/"
                class="footer__icon"
                ><img
                  src="<%=require('./images/github.png')%>"
                  alt="github"
                  class="footer__img"
              /></a></li>
              <li>
              <a
                target="_blank"
                href="https://facebook.com"
                class="footer__icon"
                ><img
                  src="<%=require('./images/facebook.png')%>"
                  alt="facebook"
                  class="footer__img"
              /></a>
            </li>
            </ul>
          </div>
        </div>
      </footer>
    </div>
    <script
      type="module"
      src="<%= htmlWebpackPlugin.files.chunks.about.entry %>"
    ></script>
  </body>
</html>
