.header__button {
  position: absolute;
  right: 0;
  top: 0;
  height: 64px; 
  width: 168px;
  border: 0;
  background: #2f71e5;
  box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
  border-radius: 100px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 1.1em;
  line-height: 24px;
  color: #ffffff;
}
.header__button:hover{
  background: #347EFF;
}

.header__button:active{
  background: #2A65CC;
}
@media (min-width: 768px) and (max-width: 1440px) {
  .header__button {
    width: 8.5em;
  }
}